<html>
<head>
<title>This is the org details entry page </title>
</head>
<body>
<H1>Enter your organization keyword and Interested Project Name </H1>
<form method = "POST" action = "/validate_org_display_results">
<ul>

<br>
<br>
Search by organization name : <input type = "text" name = "OrganizationName">

Search by project name : <input type = "text" name = "ProjectName">
<br>
<br>
</ul>
<input type=submit value='Enter' name='submit_btn'>

</form>
<a href = '/reroute_to_user_portal'><button>Go back</button></a>
</body>
</html>