<html>
<head>
<title>This is the page for creating new projects for admins</title>
</head>
<body>
<H1>Welcome Admin. Please enter information about the new project that you want to create </H1>
<form method = 'POST' action = '/store_admin_project_details'>
<ul>
<li id="li_1" 
		<label class="description" for="element_1">Admin Email</label>
		<div>
				<input id="element_1" name="AdminEmail" class="element text small" type="text" value=""/>
		</div>
		</li>	
<br>
<br>
<li id="li_2" 
		<label class="description" for="element_2">Organization Name</label>
		<div>
			<input id="element_2" name="OrganizationName" class="element text small" type="text" value=""/>
		</div>
		</li>
<br>
<br>
<li id="li_3" 
		<label class="description" for="element_3">Project Name</label>
		<div>
			<input id="element_3" name="ProjectName" class="element text small" type="text" value=""/>
		</div>
		</li>

<br>
<br>
<li id="li_4" 
		<label class="description" for="element_4">Project Domain</label>
		<div>
			<input id="element_4" name="ProjectDomain" class="element text small" type="text" value=""/>
		</div>
		</li>
<br><br>
<li id="li_5" 
		<label class="description" for="element_5">Project Description</label>
		<div>
			<input id="element_5" name="ProjectDescription" class="element text small" type="text" value=""/>
		</div>
		</li>
</ul>
</div>
<input type=submit value='Enter' name='submit_btn'>
		</div>

</form>
<a href = '/reroute_to_admin_portal'><button>Go back</button></a>
</body>
</html>