<html>
<head>
<title>This page is used  to extract information from user about organization</title>
</head>
<body>
<H1> Hi admin, Please enter  the following details as your authentication for viewing your organization's member details</H1>
<form method = "POST" action = "/validate_admin_info_show_members">
<ul>
<li id="li_1" 
		<label class="description" for="element_1">Admin Email</label>
		<div>
				<input id="element_1" name="AdminEmail" class="element text small" type="text" value=""/>
		</div>
		</li>	
<br>
<br>
<li id="li_2" 
		<label class="description" for="element_2">Organization Name</label>
		<div>
			<input id="element_2" name="OrganizationName" class="element text small" type="text" value=""/>
		</div>
		</li>
<br>
<br>
<li id="li_3" 
		<label class="description" for="element_3">Password</label>
		<div>
			<input id="element_3" name="Password" class="element text small" type="password" value=""/>
		</div>
		</li>

<br>
<br>

</ul>
</div>
<input type=submit value='Enter' name='submit_btn'>
		</div>
</form>
<a href = '/reroute_to_admin_portal'><button>Go back</button></a>

</body>
</html>
