<html>
<head>
<title>homepage</title>
</head>
<body>
<H1>DashBuster - Your one way stop to employee management</H1>
<a href = "/login"><input type = button value = "Login"></input></a>
<a href = "/signup"><input type = button value="Signup"></input></a>
<a href = "/about"><input type = button value = "About App"></input></a>
<a href = "/admin_signup"><input type = button value = "Adminstrator Signup"></input></a>
<a href = "/admin_login"><input type = button value = "Adminstrator Login"></input></a>


</body>
</html>