<html>
<head>
<title>This is the login page</title>
</head>
<body>
<H2>Welcome to the login page</H2>
<form method = "POST" action ="/login_check">
<ul>
<li id="li_1" 
		<label class="description" for="element_1">Email</label>
		<div>
				<input id="element_1" name="Email" class="element text small" type="text" value=""/>
		</div>
		</li>	
<br>
<br>
<li id="li_2" 
		<label class="description" for="element_2">Password</label>
		<div>
			<input id="element_2" name="Password" class="element text small" type="password" value=""/>
		</div>
		</li>
<br>
<br>

</ul>
<div>
		<input type=submit value='Enter' name='submit_btn'>
		</div>
</form>

</form>
</body>
</html>